// IMPORTS
@import '../../bower_components/susy/sass/susy';
@import '../../bower_components/breakpoint-sass/stylesheets/breakpoint';

// SUSY-MAP - http://susy.readthedocs.org/en/latest/settings/
$susy: (
  // flow: ltr,
  // math: fluid,
  // output: float,
  // gutter-position: after,
  // container: 60em,
  // container-position: center,
  columns: 12,
  gutters: 0.1,
  // column-width: 60px,
  // global-box-sizing: content-box,
  // last-flow: to,
  debug: (
    image: show-columns,
    // color: rgba(#66f, .25),
    // output: background,
    // toggle: bottom left,
  ),
  use-custom: (
    // background-image: true,
    // background-options: false,
    // box-sizing: true,
    clearfix: true,
    // rem: true,
  )
);

// CLEARFIX MIXIN
@mixin clearfix {
  &:before,
  &:after {
    display: table;
    content: ' ';
  }

  &:after {
    clear: both;
  }
}

// DEFAULT STYLES
html {
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

body {
  color: #000;
}

a {
  color: #268bd2;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    cursor: pointer;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  @include container(960px);
  margin-top: 1rem;
  position: relative;
}

.fixed-content__wrap,
.scroll-content {
  padding: 1.5em;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.75);
  height: 100vh;
}

.scroll-content {
  @include span(8 last);
}

.fixed-content {
  @include container;
  position: fixed;
  left: 0;
  right: 0;

}

.fixed-content__wrap {
  @include span(4);

}
