//
// Variables
//

/*
16px base
30em = 480px
48em = 768px
64em = 1024px
80em = 1280px
*/
$breakpoints: (
  smallMax: 29.938em,
  small: 30em,
  mediumMax: 47.938em,
  medium: 48em,
  largeMax: 63.938em,
  large: 64em,
  xlarge: 80em,
  xxlarge: 1440px,
);


/*
20px base

*/
// $breakpoints: (
//   smallMax: 23.95em,
//   small: 24em,
//   mediumMax: 38.35em,
//   medium: 38.4em,
//   largeMax: 51.15em,
//   large: 51.2em,
//   xlarge: 64em,
//   xxlarge: 1440px,
// );

$colors: (
  primary: #26a926,
  accent: #d32f2f,
  darkGrey: #404640,
  lightGrey: #f0f0f0,
  white: #fff,
  black: #000
);

$z-layers: (
  sewage: -999,
  default: 1,
  surface: 2,
  header: 5,
  space: 999
);

$global-radius: 5px;
$global-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

$font-stack: G, sans-serif;
