// TERMINAL STYLE

.terminal {
  @include container;

  * {
    font-family: "Liberation Mono";
  }

  &-button--close {
    background-color: #FA6058;
    border: 1px solid #F35C54;
  }

  &-button--minimize {
    background-color: #FABD2E;
    border: 1px solid #E0AF50;
  }

  &-button--maximize {
    background-color: #28CA40;
    border: 1px solid #1DC334;
  }
}

.terminal__header {
  position: relative;
  display: block;
  height: 37px;
  background: linear-gradient(to bottom, #F7F7F7 0%, #CFCFCF 5%, #AAAAAA 100%);
  border: 1px solid;
  border-color: #9C9C9C #9C9C9C #111111;
  border-radius: 7px 7px 0 0;

  &--controls {
    position: absolute;
    top: 7px;
    left: 12px;
    user-select: none;

    button {
      width: 16px;
      height: 16px;
      text-indent: -9999px;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}

.terminal__shell {
  height: auto;
  padding: 1.1rem;
  overflow: hidden;
  font-size: 17px;
  color: #FFFFFF;
  background-color: #3D3D3D;
  border-radius: 0 0 7px 7px;

  p {
    margin: 0;
  }

  &--path {
    padding-right: 0.6em;
    font-weight: bold;
    color: #29B6F6;
    user-select: none;
  }

  &--prompt {
    padding-right: 0.6em;
    color: #EF5350;
    user-select: none;
  }

  .teletype-cursor {
    font-weight: bold;
    color: #EF5350;
    user-select: none;
  }
}
