//
// Animations
//

[data-aos] {
  transition-duration: 0.3s;
}

[data-aos="fadeIn"] {
  opacity: 0;
  transform: translateY(32px);

  &.aos-animate {
    opacity: 1;
    transform: translateY(0);

    .step_category::before,
    .step_title::before {
      opacity: 1;
    }
  }
}

[data-aos="fadeIn"] .step_category::before,
[data-aos="fadeIn"] .step_title::before {
  opacity: 0;
  transition-duration: 0.3s;
  transition-delay: 0.5s;
}


// Slider

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
