//
// Buttons
//

.btn {
  display: table;
  margin-top: 20px;
  padding: 10px 12px;
  color: color(accent);
  border: 2px solid color(lightGrey);
  border-radius: 5px;
  user-select: none;

  &:hover {
    background: color(lightGrey);
    color: color(darkGrey);
  }

  &--dark-bg {
    color: color(lightGrey);
    background-color: transparent;
  }

  &--red-bg {
    // color: color(white);
    border-color: color(white);

    &:hover {
      background: color(white);
      color: color(accent);
    }
  }

  &--success {
    background: color(success);
    border-color: darken(color(success), 5%);
    color: color(white);

    &:hover {
      background: darken(color(success), 5%);
      color: color(white);
    }
  }
}
