//
// Globals
//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: $font-stack;
  line-height: 1.5;

  @include respond-min(medium) {
    font-size: 20px;
  }

  @include respond-min(xlarge) {
    font-size: 24px;
  }
}

html,
body {
  height: 100%;
}

body {
  background: color(white);
  font: 400 1em/1.5 $font-stack;
  color: color(darkGrey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
  // -ms-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  outline: 0;
  transition: 0.3s;
  color: color(accent);
  position: relative;

  &:hover {
    color: darken(color(accent), 15%);
  }
}

input,
select,
textarea {
  cursor: pointer;
  transition: 0.3s;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: $global-radius;
  font: inherit;
  color: inherit;
}

option {
  padding: 0 12px;
}

textarea {
  height: 100px;
  resize: none;

  &:focus {
    height: 250px;
  }
}


img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
  transition: 0.3s;
}



button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul {
  margin-left: 15px;
}
li {
  list-style: none;
}
