//
// flex  grid
//

.flex {
  display: flex;
  flex-wrap: wrap;

  &-container {
    flex: 1;
  }

  &.column {
    flex-flow: column nowrap;
  }

  &.row-to-column {
    flex-flow: column nowrap;

    @include respond-min(logo-break) {
      flex-flow: row nowrap;
    }
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.around {
    justify-content: space-around;
  }

  &.between {
    justify-content: space-between;
  }
}
