<!doctype html>
<html lang="de">

  {% include head.html %}

  <body>

    <header role="banner">
      <nav class="primary-nav" role="navigation">
        {% include nav.html %}
      </nav>
    </header>

    <main role="main">
      <article id="content" >
        {{ content }}
      </article>

      {% include sidebar.html %}

    </main>


    <footer role="contentinfo">
    	<div class="container">
    		<h2>insert contact stuff</h2>
    	</div>
    </footer>

    <!-- inject:js -->
    <script src="/assets/scripts/jquery.js"></script>
    <script src="/assets/scripts/main.js"></script>
    <!-- endinject -->

    <!-- <script type="text/javascript">
      $(document).foundation();
    </script> -->

  </body>
</html>
