//
// Contact form
//

.cform {
  // margin-right: -15px;

  &_group {
    margin-right: 15px;
  }


  &_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    width: 100%;

    &.required::after {
      content: 'Pflichtfeld';
      color: color(accent);
      font: 700 12px M, monospace;
      letter-spacing: 1px;
    }
  }

  &_field {
    border-color: color(veryDarkGrey);
    width: 100%;
    appearance: none;
    padding: 10px 12px;

    &:hover,
    &:focus {
      background: color(veryDarkGrey);
      border: 2px solid color(veryDarkGrey);
    }
  }
}
