//
// Cards
//

.section h2,
.section h3,
.section h4 {
  position: relative;

  &:hover .heading-anchor {
    display: inline-block;
  }
}

.heading-anchor {
  position: absolute;
  display: none;
  font-size: 24px;
  top: -1px;
  left: -32px;
  padding: 0 10px;
  color: color(lightGrey);

  &:hover {
    color: color(accent);
  }
}
