//
// Nav toggle button
//

.nav-toggle {
  cursor: pointer;
  font: 700 21px M, monospace;
  color: color(darkGrey);
  background-color: color(white);
  border: none;
  border-radius: $global-radius;
  z-index: z(space);
  transition: transform .3s;
  height: 50px;
  width: 65px;

  @include respond-min(large) {
    display: none;
  }

  &::before {
    content: 'MENU';
    position: absolute;
    bottom: 8px;
    left: -50px;

    @include respond-max(smallMax) {
      display: none;
    }
  }

  &_icon {
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999px;
    left: 50%;
    margin-left: -11px;

    &,
    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 4px;
      width: 25px;
      right: 0;
      background: color(darkGrey);
      transition: .3s;
      border-radius: $global-radius;
    }

    &::before {
      top: -8px;
    }

    &::after {
      backface-visibility: hidden;
      transform-style: preserve-3d;
      top: 8px;
    }
  }
}
