//
// Teaser
//

.teaser {
  height: calc(100vh - #{$header-height-small});
  background-image: url('/assets/images/teaser_typewriter.jpg');

  @include respond-min(medium) {
    height: calc(100vh - #{$header-height-big});
  }
}
