//
// Timeline
//

.timeline {

  &::before {
    content: '';
    position: absolute;
    left: 8px;
    width: 4px;
    height: 100%;
    background: color(white);

    @include respond-min(medium) {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.step {
  z-index: z(surface);
  padding-left: $timeline-step-padding;

  @include respond-min(medium) {
    width: 50%;
  }

  &_category,
  &_title {
    margin-top: 10px;
    line-height: 1.125;

    &::before {
      position: absolute;
      border: 4px solid color(white);
      border-radius: 50%;
      background: color(lightGrey);
      content: '';
    }
  }

  &--alpha {
    top: -12px;
  }

  &--omega {
    margin-bottom: 20px;
  }

  &_category::before {
    width: $timeline-diameter-big;
    height: $timeline-diameter-big;
    top: 2px;

    @include respond-max(mediumMax) {
      left: -43px;
    }
  }

  &_title::before {
    width: $timeline-diameter-small;
    height: $timeline-diameter-small;
    top: 5px;

    @include respond-max(mediumMax) {
      left: -36px;
    }
  }

  &:nth-of-type(odd) {

    @include respond-min(medium) {
      padding-right: $timeline-step-padding;
      text-align: right;
    }

    .step_category::before {
      @include respond-min(medium) {
        right: -52.5px;
      }
    }

    .step_title::before {
      @include respond-min(medium) {
        right: -45.75px;

      }
    }
  }

  &:nth-of-type(even) {

    @include respond-min(medium) {
      align-self: flex-end;
    }

    .step_category::before {
      @include respond-min(medium) {
        left: -52.5px;
      }
    }

    .step_title::before {
      @include respond-min(medium) {
        left: -45.75px;
      }
    }
  }
}

.check {
  width: 20px;
  height: 15px;
  fill: color(white);
  margin-left: 5px;
}
