<section id="portfolio" class="relative has-bgc--red">
  <div class="container">
    <div class="section portfolio">
      <header class="section-header flex column center">
        {% include icons/portfolio.svg %}
        <h2>Unser Portfolio</h2>
      </header>
      <p>
        Jedes Projekt verdient <strong>Herzblut</strong> und einen Schuss <strong>Maschinenöl</strong>.
        Wenn unsere Synapsen erst einmal feuern, kommt der <strong>Spaß</strong> ganz natürlich hinzu.
        Unser Ziel ist es, einen anspuchsvollen und benutzerfreundlichen Ort im Netz für Sie zu schaffen.
        Hier finden Sie eine Auswahl unserer jüngsten Projekte.
      </p>
      <a data-scroll class="btn btn--red-bg mono-ui" href="#">
        Mehr Projekte ↦
      </a>
    </div>
  </div>
  <div class="portfolio_media has-bgc--dark">
    <div id="slider" class="slider slider--fade fullscreen">
      <div class="slider-list fullscreen">
        <figure class="slider_item loading relative fullscreen">
          <img class="slider_image fullscreen lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/portfolio/portfolio_fundevogel.jpg" alt="" />
          <figcaption class="slider_overlay flex column center fullscreen">
            <img src="/assets/images/portfolio/fundevogel-logo.svg" alt="" />
            <h4 class="margin-top">Kinder- und Jugendbuchhandlung Fundevogel</h4>
            <a data-scroll class="btn btn--dark-bg mono-ui is-centered" href="#">
              Mehr erfahren ↦
            </a>
          </figcaption>
        </figure>
          <figure class="slider_item loading relative fullscreen">
            <img class="slider_image fullscreen lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/portfolio/portfolio_govinda.jpg" alt="" />
            <figcaption class="slider_overlay flex column center fullscreen">
              <img src="/assets/images/portfolio/govinda-logo.svg" alt="" />
              <h4 class="margin-top">Govinda Bistro & Catering</h4>
              <a data-scroll class="btn btn--dark-bg mono-ui is-centered" href="#">
                Mehr erfahren ↦
              </a>
            </figcaption>
          </figure>
          <div class="slider_item fullscreen">
          <header class="section-header flex column center">
            {% include icons/we-want-you.svg %}
            <h4 class="is-centered">Catchy title</h4>
          </header>
          <p>Vestibulum eu. Cras. <strong>Et</strong> hac. Penatibus magnis volutpat ligula eros mattis <em>sociis</em> aptent, hac scelerisque tincidunt montes suscipit aliquet <em>neque</em> facilisis. At. Adipiscing viverra platea orci aliquam malesuada duis fringilla. Varius ridiculus ullamcorper gravida libero sapien nam.</p>
          <a data-scroll class="btn btn--dark-bg mono-ui" href="#">
            Mehr Projekte ↦
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
