<section id="services" class="section has-bgc--light">
  <header class="section-header flex column center">
    {% include icons/services.svg %}
    <h2>Unser Leistungsspektrum</h2>
  </header>
  <div class="container">
    <div class="section-content">
      <div class="timeline flex column relative">
        <div class="step step--alpha relative" data-aos="fadeIn">
          <h3 id="first-cat" class="step_category relative"><a href="{{ site.baseurl }}/#first-cat" data-scroll data-options='{"offset": 115}'>Konzeption & Gestaltung</a></h3>
        </div>
        <div class="step" data-aos="fadeIn">
          <h4 class="step_title relative">Some title</h4>
          <p class="step_description">
            some text describing some step in the process of creating something
          </p>
        </div>
        <div class="step" data-aos="fadeIn">
          <h4 class="step_title relative">Some title</h4>
          <p class="step_description">
            some text describing some step in the process of creating something
          </p>
        </div>
        <div class="step" data-aos="fadeIn">
          <h3 id="second-cat" class="step_category relative"><a href="{{ site.baseurl }}/#second-cat" data-scroll data-options='{"offset": 115}'>Programmierung & Optimierung</a></h3>
        </div>
        <div class="step" data-aos="fadeIn">
          <h4 class="step_title relative">Some title</h4>
          <p class="step_description">
            some text describing some step in the process of creating something
          </p>
        </div>
        <div class="step" data-aos="fadeIn">
          <h4 class="step_title relative">Some title</h4>
          <p class="step_description">
            some text describing some step in the process of creating something
          </p>
        </div>
        <div class="step" data-aos="fadeIn">
          <h3 id="third-cat" class="step_category relative"><a href="{{ site.baseurl }}/#third-cat" data-scroll data-options='{"offset": 115}'>Betreuung & Pflege</a></h3>
        </div>
        <div class="step step--omega" data-aos="fadeIn">
          <h4 class="step_title relative">Some title</h4>
          <p class="step_description">
            some text describing some step in the process of creating something
          </p>
        </div>
        <a data-scroll class="btn btn--success mono-ui is-centered" href="{{ site.baseurl }}/#contact">
          Und jetzt Sie!
        </a>
      </div>
    </div>
  </div>
</section>
