<section id="team" class="section">
  <div class="container flex row-to-column">
    <div class="flex-container">

    </div>
    <div class="flex-container">
      <header class="section-header flex column center has-bgc--white">
        {% include icons/team.svg %}
        <h2>Unser Team</h2>
      </header>
      <div>
        <p>Vestibulum eu. Cras. <strong>Et</strong> hac. Penatibus magnis volutpat ligula eros mattis <em>sociis</em> aptent, hac scelerisque tincidunt montes suscipit aliquet <em>neque</em> facilisis. At. Adipiscing viverra platea orci aliquam malesuada duis fringilla. Varius ridiculus ullamcorper gravida libero sapien nam.</p>
        <a data-scroll class="btn mono-ui" href="#">
          Mehr Team ↦
        </a>
      </div>
    </div>
  </div>
</section>
