<section id="welcome" class="section">
  <header class="section-header section-header--banner flex column center has-bgc--red">
    {% include icons/welcome.svg %}
    <h2>Frische Ideen für Ihren Webauftritt</h2>
  </header>
  <div class="container">
    <div class="section-content">
      <h3>Some title I just made up!</h3>
      <p>Etiam pellentesque nonummy duis. Aliquam curabitur ut facilisi luctus viverra arcu magnis praesent. Pretium, habitant sed nostra ornare lobortis nonummy neque dictum eros congue, habitasse tristique consectetuer.</p>
    </div>
    <div class="flex row-to-column">
      <div class="section-subcontent flex-container padding-right border-right">
        <h4 class="sub-heading">Menschliches Design</h4>
        <p>Etiam pellentesque nonummy duis. Aliquam curabitur ut facilisi luctus viverra arcu magnis praesent. Pretium, habitant sed nostra ornare lobortis nonummy neque dictum eros congue, habitasse tristique consectetuer.</p>
        <a data-scroll class="btn mono-ui" href="{{ site.baseurl }}/#portfolio">
          Mehr Design ↦
        </a>
      </div>
      <div class="section-subcontent flex-container padding-left border-left">
        <h4 class="sub-heading">Maschinelle Präzision</h4>
        <p>Vestibulum eu. Cras. <strong>Et</strong> hac. Penatibus magnis volutpat ligula eros mattis <em>sociis</em> aptent, hac scelerisque tincidunt montes suscipit aliquet <em>neque</em> facilisis. At. Adipiscing viverra platea orci aliquam malesuada duis fringilla. Varius ridiculus ullamcorper gravida libero sapien nam.</p>
        <a data-scroll class="btn mono-ui" href="{{ site.baseurl }}/#services">
          Mehr Technik ↦
        </a>
      </div>
    </div>
  </div>
</section>
