.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(sprite.svg);
}
.icon-bug {
    width: 23px;
    height: 32px;
    background-position: 0 0;
}
.icon-key {
    width: 28px;
    height: 32px;
    background-position: -48px 0;
}
.icon-law {
    width: 32px;
    height: 32px;
    background-position: -96px 0;
}
.icon-mail {
    width: 28px;
    height: 32px;
    background-position: -144px 0;
}
.icon-mail-read {
    width: 28px;
    height: 32px;
    background-position: -192px 0;
}
.icon-mark-github {
    width: 32px;
    height: 32px;
    background-position: -240px 0;
}
.icon-rss {
    width: 24px;
    height: 32px;
    background-position: -288px 0;
}
.icon-section {
    width: 32px;
    height: 32px;
    background-position: -336px 0;
}

