//
// Content
//

.site-content {
  flex: 1 0 auto;
  padding-top: 95px;

  @include respond-min(medium) {
    padding-top: 125px;
  }
}

.site-section {
  padding: 50px 0;

  + .site-section {
    border-top: 1px solid color(lightGrey);
  }
}
