//
// Footer
//

.site-footer {
  flex: none;
  // height: 125px;
  padding: 10px 3.5rem 10px 20px;
}

.legal {

  &_info {
    padding: 4px 0;
  }

  &_logo {
    width: $section-sign-diameter;
    height: $section-sign-diameter;
    margin: $section-sign-margin;
  }
}

.uberspace {
  width: 144px;
  height: 78px;
  background-image: url('/assets/images/uberspace.png');
  // background-image: url('data:image/png;base64,STRING');
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
