//
// Header
//

.site-header {
  flex: none;
  position: fixed;
  width: 100%;
  padding: $header-padding-small 20px;
  z-index: z(header);
  background: color(white);
  transition: .3s;
  align-items: center;

  @include respond-min(medium) {
    &.is-maximized {
      padding: $header-padding-big 20px;

      .logo--two-brain-with-brand {
        // width: 385px;
        height: $logo-height-big;
      }

      .logo--two-brain-only {
        // width: $logo-height-big;
        height: $logo-height-big;
      }
    }
  }
}

.logo {
  display: block;
  transition: .3s;

  &--two-brain-with-brand {
    // width: 300px;
    height: $logo-height-small;

    @include respond-max(logo-breakMax) {
      display: none;
    }
  }

  &--two-brain-only {
    // width: $logo-height-small;
    height: $logo-height-small;

    @include respond-min(logo-break) {
      display: none;
    }
  }
}
