//
// Buttons
//

.btn {
  padding: 10px 12px;
  border: 2px solid color(lightGrey);
  border-radius: 5px;
  font-variant: small-caps;
  color: color(accent);

  &--mono {
    font: 700 16px M, monospace;
  }

  &--on-dark {
    color: color(lightGrey);
  }

  &--on-accent {
    color: color(white);

    &:hover {
      background: color(white);
      color: color(accent);
    }
  }

  &:hover {
    background: color(lightGrey);
    color: color(darkGrey);
  }
}

.first-step .btn {
  display: table;
  margin: 0;
  background: color(white);
  color: color(darkGrey);
  z-index: 15;
}
