//
// Globals
//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 16px;
  font-family: sans-serif;

  @include respond-min(medium) {
    font-size: 20px;
  }
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: G;
  src: url("/assets/fonts/Gidole-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: M;
  src: url("/assets/fonts/Monoid-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: M;
  src: url("/assets/fonts/Monoid-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: M;
  src: url("/assets/fonts/Monoid-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: H;
  src: url("/assets/fonts/Hack-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: H;
  src: url("/assets/fonts/Hack-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: B;
  src: url("/assets/fonts/Bitter-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: B;
  src: url("/assets/fonts/Bitter-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: B;
  src: url("/assets/fonts/Bitter-Italic.otf");
  font-weight: 400;
  font-style: italic;
}

body {
  background: color(white);
  display: flex;
  flex-direction: column;
  font: 400 1rem/1.6 $font-stack;
  color: color(darkGrey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
  // -ms-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  outline: 0;
  transition: .3s;
  color: color(accent);
  position: relative;

  &:hover {
    color: darken(color(accent), 15%);
  }
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.text-center {
  text-align: center;
}
