//
// Variables
//

/*
16px base
30em = 480px
48em = 768px
64em = 1024px
80em = 1280px
*/
$breakpoints: (
  smallMax: 29.938em,
  small: 30em,
  mediumMax: 47.938em,
  medium: 48em,
  largeMax: 63.938em,
  large: 64em,
  xlarge: 80em,
  logo-breakMax: 39.938em,
  logo-break: 40em
);

$colors: (
  white: #fff,
  accent: #d32f2f,
  lightGrey: #f0f0f0,
  darkGrey: #404640,
  veryDarkGrey: #3b413b,
  success: #26a926,
);

$z-layers: (
  sewage: -999,
  default: 1,
  surface: 2,
  header: 5,
  space: 999
);

$global-radius: 5px;
$global-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

$font-stack: G, sans-serif;

// Timeline
$timeline-diameter-big: 26px;
$timeline-diameter-small: 12px;
$timeline-step-padding: $timeline-diameter-big + 10px;

// Section logo
$section-logo-diameter: 72px;

$logo-height-big: 100px;
$logo-height-small: 80px;

$header-height-big: 124px + 1px; // bottom border
$header-height-small: 99px + 1px; // bottom border

$header-padding-big: ($header-height-big - $logo-height-big) / 2;
$header-padding-small: ($header-height-small - $logo-height-small) / 2;

$nav-separation-margin: 0.75em;

$section-sign-margin: 0 20px 0 0;
$section-sign-diameter: 56px;
