.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-bug {
	width: 0.7158203125em;
}

.icon-key {
	width: 0.875em;
}

.icon-mail {
	width: 0.875em;
}

.icon-mail-read {
	width: 0.875em;
}

.icon-rss {
	width: 0.75em;
}
