<footer class="site-footer" role="contentinfo">
  <div class="site-footer--primary">
    <div class="container">
      <div class="well-made">
        <h4>Gelungene Beiträge</h4>
        <dl>
          {% assign posts = (site.posts | where: "best", "true") %}
          {% for post in posts limit:4 %}
          <dt>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </dt>
          <dd>
            {{ post.excerpt }}
          </dd>
          {% endfor %}
        </dl>
      </div>

      <div class="lets-talk">
        <h4>Ins Gespräch kommen</h4>
        <p>Auf diesen Wegen kann mensch sich bei mir melden bzw. über aktuelle Entwicklungen auf dem Laufenden bleiben:</p>

        <div class="connect">
          <a class="connect-item" href="mailto:schmardt@posteo.se?subject=Gedanken zu deinem Blog">
            {% include icons/mail.svg %}
            <span class="connect-item_title">Mail</span>
          </a>
          <a class="connect-item" href="/key.gpg">
            {% include icons/key.svg %}
            <span class="connect-item_title">GnuPG-Key</span>
          </a>
          <a class="connect-item" href="https://github.com/S1SYPHOS">
            {% include icons/github.svg %}
            <span class="connect-item_title">GitHub</span>
          </a>
          <a class="connect-item" href="/feed.xml">
            {% include icons/feed.svg %}
            <span class="connect-item_title">RSS-Feed</span>
          </a>
        </div>

        <p>Wer es jedoch besonders eilig hat, kann dieses Kontaktformular verwenden:</p>
        <form class="contact-form" action="/my-handling-form-page" method="post">
          <div class="contact-form_name">
            <label class="sr-only" for="name">Name:</label>
            <input class="contact-form--input" type="text" name="user_name" placeholder="Name" />
          </div>
          <div class="contact-form_mail">
            <label class="sr-only" for="mail">eMail:</label>
            <input class="contact-form--input" type="email" name="user_email" placeholder="eMail-Adresse" />
          </div>
          <div>
            <label class="sr-only" for="msg">Nachricht:</label>
            <textarea class="contact-form--textarea" name="user_message" placeholder="Was ich noch sagen wollte ..."></textarea>
          </div>

          <div>
            <button class="contact-form--button" type="submit">Senden</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div class="site-footer--secondary">
    <div class="container">

      <div class="legal">
        {% include icons/section_g.svg %}
        <nav class="legal_nav">
          <a href="#">Kontakt</a>
          <a href="#">Datenschutz</a>
          <a href="#">Impressum</a>
        </nav>
        <p class="legal_copyright">
          &copy; 2016 Martin Folkers. Alle Rechte vorbehalten.
        </p>
      </div>
      <a class="uberspace" href="https://uberspace.de" title="Uberspace - Hosting on asteroids."></a>
    </div>

  </div>
</footer>
