//
// Navigation
//

.nav--primary {

  @include respond-max(largeMax) {
    display: none;
  }

  a + a {
    margin-left: 20px;
  }

  .anchor-link {
    font-size: 16px;
    font-family: M, monospace;
    font-variant: small-caps;
    color: color(darkGrey);
    padding: 2px 0;
    font-weight: 700;
    letter-spacing: 1px;

    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 4px;
      background: rgba(0,0,0,0.1);
      content: '';
      opacity: 0;
      transition: opacity 0.3s, transform 0.3s;
      transform: translateY(10px);
    }

    &:hover::after,
    &.is-active::after {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.nav--secondary {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  a {
    text-align: center;
    padding: 12px 0;
    font: 700 26px M, monospace;
    color: color(white);
    border: 0;

    &.active,
    &:hover {
      background-color: rgba(255, 255, 255, 1);
      color: color(darkGrey);
    }
  }
}
